.call-to-action{
    background-color: var(--accent-color);
    margin: 60px;
    border-radius: 12px;
    color: var(--bright-secondary-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.info{
    padding: 20px ;



}


button{
    padding: 20px;
    border: 1px solid var(--bright-secondary-text);
    border-radius: 27px;
    color: var(--bright-secondary-text);
    height:min-content;
    
    
    
}
.info h3{
    margin-bottom: 0;;
    font-size: var(--medium-font);
}
.info p{
    margin-top: 0;;
    font-size: var(--small-font);
}


