.main-hero {
    display: flex;
    background-color: var(--bg-dark);
    padding: 60px 0;
}

.main-hero-title {
    color: var(--bright-primary-text);
    font-size: var(--extra-large-font);
}

.main-hero-subtext {
    color: var(--bright-secondary-text);
    font-size: var(--small-font);
}

.main-hero img {
    max-width: 600px;
    height: auto;
    margin: auto;
}

.main-hero-text, .main-hero-img {
    display: flex;
    flex-direction: column;
}
