.flex-container{
    display: flex;
    flex-direction: column;
}

.flex-container h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container-main{
    height: 140px;
    padding: 16px;
    display: flex;
    align-items: center;
}
.item{
    padding: 150px;
    padding-left: 150px;
}

.item img{
    height: 120px;
    border-radius: 25%;
}

.item p{
    display:grid;
}