@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(fonts/roboto/Roboto-LightItalic.ttf) format('truetype');
}

:root {
    --bg-dark: #1f2937;
    --accent-color: #3882f6;
    --bright-primary-text: #f9faf8;
    --bright-secondary-text: #e5e7eb;
    --dark-text: #1f2937;

    --extra-large-font: 48px;
    --large-font: 36px;
    --medium-font: 24px;
    --small-font: 18px;

    --border-radius: 10px;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    border: 0;
    width: 100px;
    max-width: 100px;
    height: 30px;
    font-weight: bold;
    color: var(--bright-primary-text);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 750px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row > * {
    flex: 1;
}

.text-right {
    text-align: right;
}
