@font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/roboto/Roboto-Regular.ttf) format('truetype');
}

:root {
    --bg-dark: #1f2937;
    --accent-color: #3882f6;
    --brigh-secondary-text: #e5e7eb;
    
    --font-size-secondary: 18px;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
}

.btn {
    background-color: var(--bg-btn);
    border-radius: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row > * {
    flex: 1;
}
